flows/headlines_http_req_de.json
[{"id":"671fb83a.4733e8","type":"tab","label":"GetTopTenNews","disabled":false,"info":""},{"id":"e6aad99e.4dd218","type":"http request","z":"671fb83a.4733e8","name":"EuroExchangeRate","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.n-tv.de","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":100,"wires":[["d116c8f2.5505b8"]]},{"id":"d116c8f2.5505b8","type":"html","z":"671fb83a.4733e8","name":"GetExchangeFirstTable","property":"payload","outproperty":"payload","tag":".col-xs-12.col-sm-7.col-md-8 article[class=\"teaser teaser--wide teaser--hero \"] span","ret":"text","as":"single","x":670,"y":100,"wires":[["a292444f.a000e8"]]},{"id":"2c69c238.7f279e","type":"function","z":"671fb83a.4733e8","name":"GetText","func":"var result = msg.payload;\nvar News = [];\nif (result !=0){\n    for(var i = 0; i < msg.payload.getTopic.length; i++){\n        News.push(msg.payload.getTopic[i] + \"\\n \" + msg.payload.getTitel[i] + \" \\n\" + msg.payload.getNews[i]) ;\n        \n       }\n    }\n    \n\n//msg.payload = {\n  //  text:{\n    //    new1:  News[0],\n      //  new2:  News[1]\n    //},\n      //siteId : \"default\"\n      //}\nmsg.payload =  News;     \nreturn msg;\n\n\n//msg.payload ={\n//    country: country,\n//    kur : kurs\n//}\n//return msg;\n//forcast[i].dt_txt.indexOf(time) > -1\n//payload.getCurrencyNames[10]\n//payload.getCountries[0]\n//msg.payload = {text:  \"Ein Euro entpricht \"  + ExchangeRate.toPrecision(3) + \" \" + currency , \"siteId\" : \"default\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["9309d278.f42b5"]]},{"id":"bbd3168d.9cf2d8","type":"mqtt in","z":"671fb83a.4733e8","name":"GetTopTenNews","topic":"hermes/intent/GetTopTenNews","qos":"2","datatype":"json","broker":"f80b985a.2ffa78","x":220,"y":100,"wires":[["e6aad99e.4dd218"]]},{"id":"be6950a3.a4ff5","type":"mqtt out","z":"671fb83a.4733e8","name":"","topic":"hermes/tts/say","qos":"2","retain":"true","broker":"f80b985a.2ffa78","x":860,"y":200,"wires":[]},{"id":"9309d278.f42b5","type":"split","z":"671fb83a.4733e8","name":"split messages","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":440,"y":200,"wires":[["57a5a129.2ffa2"]]},{"id":"57a5a129.2ffa2","type":"function","z":"671fb83a.4733e8","name":"GetTextForTTS","func":"\n      //}\nmsg.payload = {text: msg.payload}      \nreturn msg;\n\n\n//msg.payload ={\n//    country: country,\n//    kur : kurs\n//}\n//return msg;\n//forcast[i].dt_txt.indexOf(time) > -1\n//payload.getCurrencyNames[10]\n//payload.getCountries[0]\n//msg.payload = {text:  \"Ein Euro entpricht \"  + ExchangeRate.toPrecision(3) + \" \" + currency , \"siteId\" : \"default\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["be6950a3.a4ff5"]]},{"id":"a292444f.a000e8","type":"function","z":"671fb83a.4733e8","name":"CollectNewsWithoutVideo","func":"//vstore only the first 10 news\nvar getTopic = [];\nvar getTitel =[];\nvar getNews = [];\nvar getVideo = [];\nvar j= 30;\nvar k = 0;\nvar update = \"update\";\nvar newMessage =[];\n\nvar result = msg.payload;\n\n//If there is an update string on the beginning of the Title, just ignore the “update” String\nif (result !=0){\n    for(var p = 0; p < msg.payload.length ; p++){\n        if (msg.payload[p].includes(\"update\", 0)){\n        newMessage.push(msg.payload[p].replace(\"update\", \"\"));\n        }\n        else\n        newMessage.push(msg.payload[p]);\n    \n    }\n}\n//we remove empty arrays\n    for(var s = 0; s < newMessage.length ; s++){\n        if (newMessage[s].length===0){\n        newMessage.pop(newMessage[p]);\n        }\n    \n    }\n\n//we do not want to get \"Video\" titel\nif (newMessage !=0){\n    for(var i = 0; i < j; i+=3){\n        if(newMessage[i].toString() == \"Video\"){ \n            getVideo.push(i);\n       getTopic.push(newMessage[i+2]);\n         getTitel.push(newMessage[i+3]);\n         getNews.push(newMessage[i+4]);\n         j= j+2;\n           k= i;\n            i= k+2;\n         continue;\n        }\n        else {\n         getTopic.push(result[i]);\n         getTitel.push(result[i+1]);\n         getNews.push(result[i+2]);\n\n\n    }\n\n}\n}\n\n//store topic, titel and new\n\nmsg.payload ={\n    getTopic: getTopic,\n    getTitel: getTitel,\n    getNews: getNews,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":100,"wires":[["2c69c238.7f279e"]]},{"id":"f80b985a.2ffa78","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]