flows/LightControl.json
[
  {
    "id": "8434b087.927d2",
    "type": "tab",
    "label": "Flow 4",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a5cf4675.14e658",
    "type": "mqtt in",
    "z": "8434b087.927d2",
    "name": "",
    "topic": "hermes/intent/LightStatus",
    "qos": "2",
    "datatype": "json",
    "broker": "f80b985a.2ffa78",
    "x": 290,
    "y": 240,
    "wires": [
      [
        "aab28f80.3024e"
      ]
    ]
  },
  {
    "id": "aab28f80.3024e",
    "type": "switch",
    "z": "8434b087.927d2",
    "name": "",
    "property": "payload.slots[1].value.value",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "an",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "aus",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 240,
    "wires": [
      [
        "c79a1455.2c9708"
      ],
      [
        "a8dfd7e4.dbc378"
      ]
    ]
  },
  {
    "id": "c79a1455.2c9708",
    "type": "zigbee2mqtt-out",
    "z": "8434b087.927d2",
    "name": "WohnzimmerLampeAn",
    "server": "7c9dbd0a.c040e4",
    "friendly_name": "Wohnzimmer",
    "device_id": "0xf0d1b80000175d54",
    "command": "state",
    "commandType": "z2m_cmd",
    "payload": "on",
    "payloadType": "z2m_payload",
    "transition": 0,
    "x": 740,
    "y": 180,
    "wires": []
  },
  {
    "id": "a8dfd7e4.dbc378",
    "type": "zigbee2mqtt-out",
    "z": "8434b087.927d2",
    "name": "WohnzimmerLampeAus",
    "server": "7c9dbd0a.c040e4",
    "friendly_name": "Wohnzimmer",
    "device_id": "0xf0d1b80000175d54",
    "command": "state",
    "commandType": "z2m_cmd",
    "payload": "off",
    "payloadType": "z2m_payload",
    "transition": 0,
    "x": 750,
    "y": 280,
    "wires": []
  },
  {
    "id": "a70cd5f1.0111c8",
    "type": "zigbee2mqtt-bridge",
    "z": "8434b087.927d2",
    "name": "",
    "server": "7c9dbd0a.c040e4",
    "topic": null,
    "x": 290,
    "y": 120,
    "wires": [
      [
        "4ad01196.91cf8"
      ]
    ]
  },
  {
    "id": "4ad01196.91cf8",
    "type": "debug",
    "z": "8434b087.927d2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 490,
    "y": 120,
    "wires": []
  },
  {
    "id": "f1851ab5.a1b1e8",
    "type": "mqtt in",
    "z": "8434b087.927d2",
    "name": "",
    "topic": "hermes/intent/LightBrightness",
    "qos": "2",
    "datatype": "json",
    "broker": "f80b985a.2ffa78",
    "x": 300,
    "y": 360,
    "wires": [
      [
        "23ea3ba.8ced2c4"
      ]
    ]
  },
  {
    "id": "2f7c4397.5829cc",
    "type": "zigbee2mqtt-out",
    "z": "8434b087.927d2",
    "name": "LightBrightness",
    "server": "7c9dbd0a.c040e4",
    "friendly_name": "",
    "device_id": "0xf0d1b80000175d54",
    "command": "brightness",
    "commandType": "z2m_cmd",
    "payload": "brightness",
    "payloadType": "msg",
    "transition": 0,
    "x": 820,
    "y": 360,
    "wires": []
  },
  {
    "id": "23ea3ba.8ced2c4",
    "type": "function",
    "z": "8434b087.927d2",
    "name": "GetLightBrightness",
    "func": "\nmsg = {\n         brightness: 255*msg.payload.slots[1].value.value/100\n    }\n    return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 570,
    "y": 360,
    "wires": [
      [
        "2f7c4397.5829cc"
      ]
    ]
  },
  {
    "id": "f80b985a.2ffa78",
    "type": "mqtt-broker",
    "name": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "7c9dbd0a.c040e4",
    "type": "zigbee2mqtt-server",
    "name": "Licht",
    "host": "127.0.0.1",
    "mqtt_port": "1883",
    "mqtt_username": "",
    "mqtt_password": "",
    "tls": "",
    "usetls": false,
    "base_topic": "zigbee2mqtt"
  }
]