flows/news_in_100_seconds_de.json
[
  {
      "id": "1196e34d.8263ad",
      "type": "tab",
      "label": "German news in 100 seconds",
      "disabled": false,
      "info": ""
  },
  {
      "id": "39ac47b2.429f08",
      "type": "http request",
      "z": "1196e34d.8263ad",
      "name": "http request",
      "method": "GET",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "https://www.tagesschau.de/export/podcast/hi/tagesschau-in-100-sekunden/",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 371,
      "y": 180,
      "wires": [
          [
              "2136852f.414f5a"
          ]
      ]
  },
  {
      "id": "8fabdb4f.932b68",
      "type": "inject",
      "z": "1196e34d.8263ad",
      "name": "manual start",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "str",
      "x": 173,
      "y": 213,
      "wires": [
          [
              "39ac47b2.429f08"
          ]
      ]
  },
  {
      "id": "2136852f.414f5a",
      "type": "xml",
      "z": "1196e34d.8263ad",
      "name": "",
      "property": "payload",
      "attr": "",
      "chr": "",
      "x": 522,
      "y": 180,
      "wires": [
          [
              "36763932.9fe9e6",
              "67f07846.371a58"
          ]
      ]
  },
  {
      "id": "36763932.9fe9e6",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "create curl command",
      "func": "var url = msg.payload.rss.channel[0].item[0].enclosure[0].$.url;\n\nvar cmd = \"mkdir -p /home/pi/.node-red/news; curl -X GET '\" + url + \"' -o /home/pi/.node-red/news/tagesschau_in_100_sekunden.mp3\"\n\nmsg.payload = cmd;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 714,
      "y": 180,
      "wires": [
          [
              "6007eeef.2eaac"
          ]
      ]
  },
  {
      "id": "6007eeef.2eaac",
      "type": "exec",
      "z": "1196e34d.8263ad",
      "command": "",
      "addpay": true,
      "append": "",
      "useSpawn": "false",
      "timer": "",
      "oldrc": false,
      "name": "download newest tagesschau clip",
      "x": 980,
      "y": 180,
      "wires": [
          [],
          [],
          [
              "99cb13f5.dc692"
          ]
      ]
  },
  {
      "id": "96f1d781.696518",
      "type": "switch",
      "z": "1196e34d.8263ad",
      "name": "",
      "property": "payload.code",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "0",
              "vt": "str"
          },
          {
              "t": "gt",
              "v": "0",
              "vt": "str"
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 130,
      "y": 367,
      "wires": [
          [
              "2a59977a.64d278"
          ],
          []
      ]
  },
  {
      "id": "a53306a7.e55618",
      "type": "mqtt in",
      "z": "1196e34d.8263ad",
      "name": "",
      "topic": "hermes/intent/PlayNews",
      "qos": "2",
      "datatype": "json",
      "broker": "e19fa228.bc1cf",
      "x": 138,
      "y": 140,
      "wires": [
          [
              "39ac47b2.429f08"
          ]
      ]
  },
  {
      "id": "eb97c7b.e8afa38",
      "type": "mqtt in",
      "z": "1196e34d.8263ad",
      "name": "",
      "topic": "hermes/intent/Stop",
      "qos": "2",
      "datatype": "json",
      "broker": "e19fa228.bc1cf",
      "x": 837,
      "y": 407,
      "wires": [
          [
              "ab1f22d2.5893c"
          ]
      ]
  },
  {
      "id": "2a59977a.64d278",
      "type": "change",
      "z": "1196e34d.8263ad",
      "name": "Set path_1",
      "rules": [
          {
              "t": "set",
              "p": "paths",
              "pt": "msg",
              "to": "path_1",
              "tot": "str"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 287,
      "y": 360,
      "wires": [
          [
              "4a7110df.82439"
          ]
      ]
  },
  {
      "id": "f4ecf7b.511fd08",
      "type": "change",
      "z": "1196e34d.8263ad",
      "name": "Set path_2",
      "rules": [
          {
              "t": "set",
              "p": "paths",
              "pt": "msg",
              "to": "path_2",
              "tot": "str"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 287,
      "y": 296,
      "wires": [
          [
              "4a7110df.82439"
          ]
      ]
  },
  {
      "id": "4a7110df.82439",
      "type": "join-wait",
      "z": "1196e34d.8263ad",
      "name": "",
      "paths": "[\"path_1\", \"path_2\"]",
      "pathsToExpire": "",
      "pathTopic": "paths",
      "pathTopicType": "msg",
      "correlationTopic": "",
      "correlationTopicType": "msg",
      "timeout": "5",
      "timeoutUnits": "1000",
      "exactOrder": "false",
      "firstMsg": "true",
      "mapPayload": "true",
      "disableComplete": false,
      "x": 480,
      "y": 333,
      "wires": [
          [
              "d5bb1bc8.3d5048"
          ],
          []
      ]
  },
  {
      "id": "67f07846.371a58",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "",
      "func": "let description = msg.payload.rss.channel[0].item[0].description[0];\n\nmsg.payload = description;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 140,
      "y": 296,
      "wires": [
          [
              "f4ecf7b.511fd08"
          ]
      ]
  },
  {
      "id": "5642fef8.30be6",
      "type": "mqtt out",
      "z": "1196e34d.8263ad",
      "name": "",
      "topic": "hermes/tts/say",
      "qos": "",
      "retain": "",
      "broker": "e19fa228.bc1cf",
      "x": 829,
      "y": 358,
      "wires": []
  },
  {
      "id": "d5bb1bc8.3d5048",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "",
      "func": "let text = msg.payload;\n\nmsg.payload = {\n    text: text\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 640,
      "y": 327,
      "wires": [
          [
              "5642fef8.30be6",
              "dbbf07.435c20f8"
          ]
      ]
  },
  {
      "id": "dbbf07.435c20f8",
      "type": "delay",
      "z": "1196e34d.8263ad",
      "name": "",
      "pauseType": "delay",
      "timeout": "7500",
      "timeoutUnits": "milliseconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "x": 841,
      "y": 289,
      "wires": [
          [
              "1a927ca.9624c83"
          ]
      ]
  },
  {
      "id": "962c2adf.4cf5f8",
      "type": "comment",
      "z": "1196e34d.8263ad",
      "name": "Download and start playing german news tagesschau in 100 seconds",
      "info": "",
      "x": 540,
      "y": 121,
      "wires": []
  },
  {
      "id": "107e9b00.998075",
      "type": "exec",
      "z": "1196e34d.8263ad",
      "command": "",
      "addpay": true,
      "append": "",
      "useSpawn": "false",
      "timer": "",
      "oldrc": false,
      "name": "start play sound clip",
      "x": 1280,
      "y": 345,
      "wires": [
          [],
          [],
          []
      ]
  },
  {
      "id": "66d58dc1.a82804",
      "type": "inject",
      "z": "1196e34d.8263ad",
      "name": "manual start",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "ffplay ~/.node-red/news/tagesschau_in_100_sekunden.mp3",
      "payloadType": "str",
      "x": 870,
      "y": 227,
      "wires": [
          [
              "1a927ca.9624c83"
          ]
      ]
  },
  {
      "id": "13df5c2a.d84534",
      "type": "change",
      "z": "1196e34d.8263ad",
      "name": "",
      "rules": [
          {
              "t": "set",
              "p": "pid",
              "pt": "flow",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 460,
      "y": 478,
      "wires": [
          []
      ]
  },
  {
      "id": "7e053418.cf1cdc",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "get pid",
      "func": "if(msg.status.text){\n    if(msg.status.text.match(/pid/g)){\n        let pid = msg.status.text.split(':');\n        msg.payload = pid[1];\n        return msg;\n    } else {\n        msg.payload = false;\n        return msg;\n    }\n} else {\n    msg.payload = false;\n    return msg;\n}",
      "outputs": 1,
      "noerr": 0,
      "x": 290,
      "y": 478,
      "wires": [
          [
              "13df5c2a.d84534"
          ]
      ]
  },
  {
      "id": "8c630bc3.e646f8",
      "type": "status",
      "z": "1196e34d.8263ad",
      "name": "",
      "scope": [
          "107e9b00.998075"
      ],
      "x": 140,
      "y": 478,
      "wires": [
          [
              "7e053418.cf1cdc"
          ]
      ]
  },
  {
      "id": "4e7d9178.e931d",
      "type": "inject",
      "z": "1196e34d.8263ad",
      "name": "manual stop",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "kill",
      "payloadType": "str",
      "x": 857,
      "y": 467,
      "wires": [
          [
              "ab1f22d2.5893c"
          ]
      ]
  },
  {
      "id": "ab1f22d2.5893c",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "",
      "func": "msg.payload = \"kill \" + flow.get(\"pid\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 1047,
      "y": 438,
      "wires": [
          [
              "107e9b00.998075"
          ]
      ]
  },
  {
      "id": "1a927ca.9624c83",
      "type": "function",
      "z": "1196e34d.8263ad",
      "name": "",
      "func": "msg.payload = \"mpg123 -a /dev/audio /home/pi/.node-red/news/tagesschau_in_100_sekunden.mp3\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 1055,
      "y": 256,
      "wires": [
          [
              "107e9b00.998075"
          ]
      ]
  },
  {
      "id": "2a569b02.973fe4",
      "type": "comment",
      "z": "1196e34d.8263ad",
      "name": "Get and save pid of playing sound clip",
      "info": "",
      "x": 230,
      "y": 418,
      "wires": []
  },
  {
      "id": "165dc7bf.cb35c8",
      "type": "link in",
      "z": "1196e34d.8263ad",
      "name": "",
      "links": [
          "99cb13f5.dc692"
      ],
      "x": 42,
      "y": 367,
      "wires": [
          [
              "96f1d781.696518"
          ]
      ]
  },
  {
      "id": "99cb13f5.dc692",
      "type": "link out",
      "z": "1196e34d.8263ad",
      "name": "",
      "links": [
          "165dc7bf.cb35c8"
      ],
      "x": 1165,
      "y": 193,
      "wires": []
  },
  {
      "id": "e19fa228.bc1cf",
      "type": "mqtt-broker",
      "name": "mqtt",
      "broker": "127.0.0.1",
      "port": "1883",
      "clientid": "",
      "usetls": false,
      "compatmode": false,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
  }
]