flows/play_headlines_germany.json
[
  {
    "id": "45c0b0ec.ddd8",
    "type": "inject",
    "z": "e0c627ae.a69358",
    "name": "manual start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 190,
    "y": 660,
    "wires": [
      [
        "cb6409e5.a90cb8"
      ]
    ]
  },
  {
    "id": "cb6409e5.a90cb8",
    "type": "http request",
    "z": "e0c627ae.a69358",
    "name": "get news for DE",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://newsapi.org/v2/top-headlines?country=de&apiKey=f6a6faa276244dc0adef6f010a58f8cf",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 380,
    "y": 680,
    "wires": [
      [
        "b1dfc84.b357338"
      ]
    ]
  },
  {
    "id": "7255113.fc399f",
    "type": "debug",
    "z": "e0c627ae.a69358",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 740,
    "wires": []
  },
  {
    "id": "b1dfc84.b357338",
    "type": "json",
    "z": "e0c627ae.a69358",
    "name": "parse json",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 570,
    "y": 680,
    "wires": [
      [
        "f8400a65.308f88"
      ]
    ]
  },
  {
    "id": "ca4dfd26.2de19",
    "type": "split",
    "z": "e0c627ae.a69358",
    "name": "split messages",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 960,
    "y": 680,
    "wires": [
      [
        "a26d1c73.fc5c9",
        "b9f48d4b.0c176",
        "4cd6ae84.56a3b"
      ]
    ]
  },
  {
    "id": "f8400a65.308f88",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "reduce payload",
    "func": "msg.payload = msg.payload.articles;\nflow.set(\"readout\", 1);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 760,
    "y": 680,
    "wires": [
      [
        "ca4dfd26.2de19"
      ]
    ]
  },
  {
    "id": "f4b86a48.a4fb08",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "",
    "func": "let text = msg.payload.title;\n\nmsg.payload = {\n    text: text,\n    siteId: \"default\",\n    id: \"news\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 980,
    "y": 760,
    "wires": [
      [
        "7255113.fc399f",
        "ff438f63.91475"
      ]
    ]
  },
  {
    "id": "ff438f63.91475",
    "type": "mqtt out",
    "z": "e0c627ae.a69358",
    "name": "",
    "topic": "hermes/tts/say",
    "qos": "",
    "retain": "false",
    "broker": "e19fa228.bc1cf",
    "x": 1180,
    "y": 780,
    "wires": []
  },
  {
    "id": "a16c7054.d9c61",
    "type": "mqtt in",
    "z": "e0c627ae.a69358",
    "name": "",
    "topic": "hermes/intent/PlayHeadlines",
    "qos": "2",
    "datatype": "json",
    "broker": "e19fa228.bc1cf",
    "x": 140,
    "y": 700,
    "wires": [
      [
        "cb6409e5.a90cb8"
      ]
    ]
  },
  {
    "id": "58017c1d.f44b74",
    "type": "mqtt in",
    "z": "e0c627ae.a69358",
    "name": "",
    "topic": "hermes/tts/sayFinished",
    "qos": "0",
    "datatype": "auto",
    "broker": "e19fa228.bc1cf",
    "x": 160,
    "y": 880,
    "wires": [
      [
        "52f48b32.653704"
      ]
    ]
  },
  {
    "id": "c135e03a.33ad5",
    "type": "mqtt in",
    "z": "e0c627ae.a69358",
    "name": "",
    "topic": "hermes/intent/Stop",
    "qos": "2",
    "datatype": "json",
    "broker": "e19fa228.bc1cf",
    "x": 170,
    "y": 960,
    "wires": [
      [
        "3b337b1c.9dda54"
      ]
    ]
  },
  {
    "id": "77ea46bf.081ba8",
    "type": "debug",
    "z": "e0c627ae.a69358",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 1020,
    "wires": []
  },
  {
    "id": "3b337b1c.9dda54",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "",
    "func": "let text = \"OK\";\nflow.set(\"readout\", 0);\nmsg.payload = {\n    text: text,\n    readout: flow.get(\"readout\")\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 380,
    "y": 960,
    "wires": [
      [
        "77ea46bf.081ba8",
        "f6d30174.1d626"
      ]
    ]
  },
  {
    "id": "f6d30174.1d626",
    "type": "mqtt out",
    "z": "e0c627ae.a69358",
    "name": "",
    "topic": "hermes/tts/say",
    "qos": "",
    "retain": "false",
    "broker": "e19fa228.bc1cf",
    "x": 620,
    "y": 960,
    "wires": []
  },
  {
    "id": "a26d1c73.fc5c9",
    "type": "debug",
    "z": "e0c627ae.a69358",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1150,
    "y": 680,
    "wires": []
  },
  {
    "id": "b9f48d4b.0c176",
    "type": "q-gate",
    "z": "e0c627ae.a69358",
    "name": "q-gate",
    "controlTopic": "control",
    "defaultState": "queueing",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "queueCmd": "queue",
    "defaultCmd": "default",
    "triggerCmd": "trigger",
    "flushCmd": "flush",
    "resetCmd": "reset",
    "peekCmd": "",
    "dropCmd": "",
    "statusCmd": "",
    "maxQueueLength": "0",
    "keepNewest": false,
    "qToggle": false,
    "persist": false,
    "x": 790,
    "y": 760,
    "wires": [
      [
        "f4b86a48.a4fb08"
      ]
    ]
  },
  {
    "id": "92f79a8a.870178",
    "type": "switch",
    "z": "e0c627ae.a69358",
    "name": "",
    "property": "payload.id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "news",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 490,
    "y": 880,
    "wires": [
      [
        "d0c62298.40f12"
      ]
    ]
  },
  {
    "id": "52f48b32.653704",
    "type": "json",
    "z": "e0c627ae.a69358",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 350,
    "y": 880,
    "wires": [
      [
        "92f79a8a.870178"
      ]
    ]
  },
  {
    "id": "3386aed5.e7dee2",
    "type": "delay",
    "z": "e0c627ae.a69358",
    "name": "delay 5 secs",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 190,
    "y": 820,
    "wires": [
      [
        "83784e39.89c8d"
      ]
    ]
  },
  {
    "id": "83784e39.89c8d",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "trigger q-gate",
    "func": "msg.payload = \"trigger\";\nmsg.topic = \"control\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 370,
    "y": 820,
    "wires": [
      [
        "b9f48d4b.0c176"
      ]
    ]
  },
  {
    "id": "d0c62298.40f12",
    "type": "switch",
    "z": "e0c627ae.a69358",
    "name": "",
    "property": "readout",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 630,
    "y": 880,
    "wires": [
      [
        "3386aed5.e7dee2"
      ],
      [
        "9c4a2c21.1340d",
        "b6bbd43.0974d28"
      ]
    ]
  },
  {
    "id": "9c4a2c21.1340d",
    "type": "debug",
    "z": "e0c627ae.a69358",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 900,
    "wires": []
  },
  {
    "id": "b6bbd43.0974d28",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "reset q-gate",
    "func": "msg.payload = \"reset\";\nmsg.topic = \"control\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 860,
    "wires": [
      [
        "b9f48d4b.0c176"
      ]
    ]
  },
  {
    "id": "ad831114.ede73",
    "type": "delay",
    "z": "e0c627ae.a69358",
    "name": "delay 1 sec",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 370,
    "y": 760,
    "wires": [
      [
        "66b389ea.7c53e8"
      ]
    ]
  },
  {
    "id": "66b389ea.7c53e8",
    "type": "function",
    "z": "e0c627ae.a69358",
    "name": "trigger q-gate",
    "func": "let message = {\n    payload: \"trigger\",\n    topic: \"control\"\n}\n\nreturn message;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 570,
    "y": 760,
    "wires": [
      [
        "b9f48d4b.0c176"
      ]
    ]
  },
  {
    "id": "4cd6ae84.56a3b",
    "type": "delay",
    "z": "e0c627ae.a69358",
    "name": "delay 1 msg/m",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 180,
    "y": 760,
    "wires": [
      [
        "ad831114.ede73"
      ]
    ]
  },
  {
    "id": "6b5186ef.651318",
    "type": "comment",
    "z": "e0c627ae.a69358",
    "name": "Download and start playing german headlines",
    "info": "",
    "x": 190,
    "y": 600,
    "wires": []
  },
  {
    "id": "e19fa228.bc1cf",
    "type": "mqtt-broker",
    "name": "mqtt",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]