flows/top_news_notification.json
[
  {
      "id": "532434f7.75b2ec",
      "type": "tab",
      "label": "Top News Notice",
      "disabled": false,
      "info": ""
  },
  {
      "id": "a6ff1247.5505d",
      "type": "http request",
      "z": "532434f7.75b2ec",
      "name": "EconomicNews",
      "method": "GET",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "https://www.n-tv.de/wirtschaft/",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 580,
      "y": 160,
      "wires": [
          [
              "9d7fcad1.abad78"
          ]
      ]
  },
  {
      "id": "9d7fcad1.abad78",
      "type": "html",
      "z": "532434f7.75b2ec",
      "name": "GetTopEconomyNew",
      "property": "payload",
      "outproperty": "payload",
      "tag": ".col-xs-12.col-sm-7.col-md-8 article.teaser.teaser--wide.teaser--hero",
      "ret": "text",
      "as": "single",
      "x": 786,
      "y": 160,
      "wires": [
          [
              "57fc74d9.a166dc"
          ]
      ]
  },
  {
      "id": "57fc74d9.a166dc",
      "type": "function",
      "z": "532434f7.75b2ec",
      "name": "GetTopEconomicNewForTTS",
      "func": "\nmsg.payload = {text: msg.payload[0]}  \n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 1030,
      "y": 160,
      "wires": [
          [
              "1b0c25a4.04f1ca"
          ]
      ]
  },
  {
      "id": "1b0c25a4.04f1ca",
      "type": "mqtt out",
      "z": "532434f7.75b2ec",
      "name": "",
      "topic": "hermes/tts/say",
      "qos": "2",
      "retain": "true",
      "broker": "f80b985a.2ffa78",
      "x": 1302,
      "y": 216,
      "wires": []
  },
  {
      "id": "9cea3da0.97ab",
      "type": "mqtt in",
      "z": "532434f7.75b2ec",
      "name": "GetNotificationForNews",
      "topic": "hermes/intent/GetNotificationForNews",
      "qos": "2",
      "datatype": "json",
      "broker": "f80b985a.2ffa78",
      "x": 144,
      "y": 217,
      "wires": [
          [
              "7c315df8.31dae4"
          ]
      ]
  },
  {
      "id": "7c315df8.31dae4",
      "type": "switch",
      "z": "532434f7.75b2ec",
      "name": "NotificationSelector",
      "property": "payload.asrTokens[0][2].value",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "Wirtschaft",
              "vt": "str"
          },
          {
              "t": "eq",
              "v": "Politik",
              "vt": "str"
          },
          {
              "t": "eq",
              "v": "Sport",
              "vt": "str"
          }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 3,
      "x": 365,
      "y": 217,
      "wires": [
          [
              "a6ff1247.5505d"
          ],
          [
              "cc297e5a.18b37"
          ],
          [
              "638e5fcd.9f9ca"
          ]
      ]
  },
  {
      "id": "cc297e5a.18b37",
      "type": "http request",
      "z": "532434f7.75b2ec",
      "name": "PoliticNews",
      "method": "GET",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "https://www.n-tv.de/politik/",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 574,
      "y": 218,
      "wires": [
          [
              "9ca45859.dba338"
          ]
      ]
  },
  {
      "id": "9ca45859.dba338",
      "type": "html",
      "z": "532434f7.75b2ec",
      "name": "GetTopPoliticNews",
      "property": "payload",
      "outproperty": "payload",
      "tag": ".col-xs-12.col-sm-7.col-md-8 article.teaser.teaser--wide.teaser--hero",
      "ret": "text",
      "as": "single",
      "x": 771,
      "y": 218,
      "wires": [
          [
              "19abd093.34120f"
          ]
      ]
  },
  {
      "id": "19abd093.34120f",
      "type": "function",
      "z": "532434f7.75b2ec",
      "name": "GetTopPoliticNewForTTS",
      "func": "\n msg.payload ={\n     politic: msg.payload[0]\n } \n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 1010,
      "y": 218,
      "wires": [
          [
              "1b0c25a4.04f1ca"
          ]
      ]
  },
  {
      "id": "638e5fcd.9f9ca",
      "type": "http request",
      "z": "532434f7.75b2ec",
      "name": "SportNews",
      "method": "GET",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "https://www.n-tv.de/sport/",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 574,
      "y": 280,
      "wires": [
          [
              "b8a9e785.6001b8"
          ]
      ]
  },
  {
      "id": "b8a9e785.6001b8",
      "type": "html",
      "z": "532434f7.75b2ec",
      "name": "GetTopSportNews",
      "property": "payload",
      "outproperty": "payload",
      "tag": ".col-xs-12.col-sm-7.col-md-8 article.teaser.teaser--wide.teaser--hero",
      "ret": "text",
      "as": "single",
      "x": 772,
      "y": 280,
      "wires": [
          [
              "c9115424.a3f248"
          ]
      ]
  },
  {
      "id": "c9115424.a3f248",
      "type": "function",
      "z": "532434f7.75b2ec",
      "name": "GetTopSportNewForTTS",
      "func": "\nmsg.payload = {text: msg.payload[0]}  \n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 1032,
      "y": 280,
      "wires": [
          [
              "1b0c25a4.04f1ca"
          ]
      ]
  },
  {
      "id": "7a226617.bbb848",
      "type": "comment",
      "z": "532434f7.75b2ec",
      "name": "Get notification for top news for the topics politic,economy and sport",
      "info": "",
      "x": 280,
      "y": 100,
      "wires": []
  },
  {
      "id": "f80b985a.2ffa78",
      "type": "mqtt-broker",
      "name": "",
      "broker": "127.0.0.1",
      "port": "1883",
      "clientid": "",
      "usetls": false,
      "compatmode": false,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
  }
]