flows/weather_forecast.json
[
  {
    "id": "8b2b9829.e28ab8",
    "type": "tab",
    "label": "Weather Forecast",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d3535a67.3117d8",
    "type": "mqtt in",
    "z": "8b2b9829.e28ab8",
    "name": "",
    "topic": "hermes/intent/GetWeather",
    "qos": "2",
    "datatype": "json",
    "broker": "f80b985a.2ffa78",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "cbf127ef.cd05c8"
      ]
    ]
  },
  {
    "id": "171cd793.df1588",
    "type": "openweathermap",
    "z": "8b2b9829.e28ab8",
    "name": "SetCity",
    "wtype": "forecast",
    "lon": "",
    "lat": "",
    "city": "",
    "country": "",
    "language": "de",
    "x": 600,
    "y": 200,
    "wires": [
      [
        "f9aa6c7b.d15ce"
      ]
    ]
  },
  {
    "id": "f9aa6c7b.d15ce",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempAndDesciption",
    "func": "var today = new Date();\nvar time = today.getHours();\nwhile( time%3 !=0){\n    time = time +1;\n}\ntime = time + \":\" + \"00\" + \":\" + \"00\";\nvar temp = [];\nvar description = [];\nvar forcast = msg.payload;\nvar city = msg.location.city;\nfor (var i= 0; i < 40; i++){\n    if (forcast[i].dt_txt.indexOf(time) > -1){\n        temp.push(forcast[i].main.temp)\n        description.push(forcast[i].weather[0].description)\n    }\n}\n\nmsg.payload = {\n        temp : temp,\n        description: description,\n        city : city,\n        day : msg.date,\n        time : time\n    }\n    \nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 810,
    "y": 200,
    "wires": [
      [
        "91d7f25.7109e1",
        "72a2b9c2.e66f08"
      ]
    ]
  },
  {
    "id": "df127b01.43ed88",
    "type": "mqtt out",
    "z": "8b2b9829.e28ab8",
    "name": "",
    "topic": "hermes/tts/say",
    "qos": "",
    "retain": "",
    "broker": "f80b985a.2ffa78",
    "x": 1680,
    "y": 200,
    "wires": []
  },
  {
    "id": "3c1428a4.b50c68",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempToday",
    "func": "\nmsg.payload = {text:  \"Das Wetter \" + msg.payload.day + \" in \" + msg.payload.city + \" um \" + msg.payload.time + \" zeigt\" + \" eine Temperature von \" + Math.round(msg.payload.temp[0],2) + \" Grad \" + \"und \" + msg.payload.description[0] , \"siteId\" : \"default\"}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1300,
    "y": 120,
    "wires": [
      [
        "df127b01.43ed88",
        "4efdd2ad.c1dbdc"
      ]
    ]
  },
  {
    "id": "a1cd642c.4c5488",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempIn2Day",
    "func": "\n\nmsg.payload = {text:  \"Das Wetter \" + msg.payload.day + \" in \" + msg.payload.city + \" um \" + msg.payload.time + \" zeigt\" + \" eine Temperature von \" + Math.round(msg.payload.temp[2],2) + \" Grad \" + \"und \" + msg.payload.description[2] , \"siteId\" : \"default\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1300,
    "y": 205,
    "wires": [
      [
        "df127b01.43ed88",
        "4efdd2ad.c1dbdc"
      ]
    ]
  },
  {
    "id": "2179e05d.dae9b",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempTomorrow",
    "func": "\n\nmsg.payload = {text:  \"Das Wetter \" + msg.payload.day + \" in \" + msg.payload.city + \" um \" + msg.payload.time + \" zeigt\" + \" eine Temperature von \" + Math.round(msg.payload.temp[1],2) + \" Grad \" + \"und \" + msg.payload.description[1] , \"siteId\" : \"default\"}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1310,
    "y": 160,
    "wires": [
      [
        "df127b01.43ed88",
        "4efdd2ad.c1dbdc"
      ]
    ]
  },
  {
    "id": "14fdd6c9.0a7769",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempIn3Day",
    "func": "\n\nmsg.payload = {text:  \"Das Wetter \" + msg.payload.day + \" in \" + msg.payload.city + \" um \" + msg.payload.time + \" zeigt\" + \" eine Temperature von \" + Math.round(msg.payload.temp[3],2) + \" Grad \" + \"und \" + msg.payload.description[3] , \"siteId\" : \"default\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1300,
    "y": 250,
    "wires": [
      [
        "df127b01.43ed88",
        "4efdd2ad.c1dbdc"
      ]
    ]
  },
  {
    "id": "bd428911.d007f8",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "GetTempIn4Day",
    "func": "\n\nmsg.payload = {text:  \"Das Wetter \" + msg.payload.day + \" in \" + msg.payload.city + \" um \" + msg.payload.time + \" zeigt\" + \" eine Temperature von \" + Math.round(msg.payload.temp[4],2) + \" Grad \" + \"und \" + msg.payload.description[4] , \"siteId\" : \"default\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1300,
    "y": 295,
    "wires": [
      [
        "df127b01.43ed88",
        "4efdd2ad.c1dbdc"
      ]
    ]
  },
  {
    "id": "72a2b9c2.e66f08",
    "type": "switch",
    "z": "8b2b9829.e28ab8",
    "name": "SelectDay",
    "property": "payload.day",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "heute",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "morgen",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "in zwei tagen",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "in drei tagen",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "in vier tagen",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1050,
    "y": 200,
    "wires": [
      [
        "3c1428a4.b50c68"
      ],
      [
        "2179e05d.dae9b"
      ],
      [
        "a1cd642c.4c5488"
      ],
      [
        "14fdd6c9.0a7769"
      ],
      [
        "bd428911.d007f8"
      ]
    ]
  },
  {
    "id": "91d7f25.7109e1",
    "type": "debug",
    "z": "8b2b9829.e28ab8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 140,
    "wires": []
  },
  {
    "id": "60116562.6d45ac",
    "type": "comment",
    "z": "8b2b9829.e28ab8",
    "name": "Get Weather for a german city",
    "info": "",
    "x": 160,
    "y": 140,
    "wires": []
  },
  {
    "id": "6a222681.2a3608",
    "type": "debug",
    "z": "8b2b9829.e28ab8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 160,
    "wires": []
  },
  {
    "id": "cbf127ef.cd05c8",
    "type": "function",
    "z": "8b2b9829.e28ab8",
    "name": "Switch-Case-Slots",
    "func": "const umlautMap = {\n  '\\u00dc': 'UE',\n  '\\u00c4': 'AE',\n  '\\u00d6': 'OE',\n  '\\u00fc': 'ue',\n  '\\u00e4': 'ae',\n  '\\u00f6': 'oe',\n  '\\u00df': 'ss',\n}\n\nfunction replaceUmlaute(str) {\n  return str\n    .replace(/[\\u00dc|\\u00c4|\\u00d6][a-z]/g, (a) => {\n      const big = umlautMap[a.slice(0, 1)];\n      return big.charAt(0) + big.charAt(1).toLowerCase() + a.slice(1);\n    })\n    .replace(new RegExp('['+Object.keys(umlautMap).join('|')+']',\"g\"),\n      (a) => umlautMap[a]\n    );\n}\n\nvar message = {\n    location: {\n        city: \"\",\n        country: \"germany\"\n    },\n    date: \"heute\"\n};\n\nfor (var i = 0; i < msg.payload.slots.length; i++) {\n        switch(msg.payload.slots[i].slotName) {\n            case \"city\":\n                message.location.city = replaceUmlaute(msg.payload.slots[i].value.value);\n            break;\n            case \"date\":\n                message.location.date = msg.payload.slots[i].value.value.toLowerCase();\n            break;\n            default:\n    }\n}\n\nreturn message;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 390,
    "y": 200,
    "wires": [
      [
        "6a222681.2a3608",
        "171cd793.df1588"
      ]
    ]
  },
  {
    "id": "4efdd2ad.c1dbdc",
    "type": "debug",
    "z": "8b2b9829.e28ab8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1550,
    "y": 120,
    "wires": []
  },
  {
    "id": "f80b985a.2ffa78",
    "type": "mqtt-broker",
    "name": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]